body,
html {
  background: gainsboro;
  height: 100%;
}

.spin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spin {
  border: 3px solid whitesmoke;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader2 {
  border: 3px solid rgb(64, 0, 132);
  width: 220px;
  height: 220px;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader3 {
  border: 3px solid rgb(166, 84, 253);
  width: 240px;
  height: 240px;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader4 {
  border: 3px solid rgb(64, 0, 132);
  width: 260px;
  height: 260px;
  position: absolute;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}

@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}

#text {
  color: rgb(64, 0, 132);
  font-family: Arial;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
